version: "3"
services:
  web: &rails_base
    build:
      dockerfile: Dockerfile
      context: .
    ports:
      - "3000:3000"
    depends_on:
      - db
    environment:
      RAILS_ENV: development
      DATABASE_URL: postgres://postgres:password@db:5432/postgres
      YARN_INTEGRITY_ENABLED: "false"
      REDIS_HOST: 'redis'
    volumes:
      - .:/usr/src/app
    command: "bundle exec rails server -b 0.0.0.0 -p 3000"
  redis:
    image: 'redis:5-alpine'
    command: redis-server
    ports:
      - '6379:6379'
  sidekiq:
    ports: []
    <<: *rails_base
    command: bundle exec sidekiq
    depends_on:
      - redis
      - db
    environment:
      REDIS_HOST: 'redis'
  db:
    image: postgres
    ports:
      - "5432:5432"
    environment:
      POSTGRES_PASSWORD: password
